:root {
    --border: 10px rgb(253, 253, 253) solid;
    --background:  rgb(161, 4, 252);
    --borderGreen: 10px rgb(0, 255, 0) solid;
    --backgroundImage:  url("https://coolbackgrounds.io/images/backgrounds/index/disco-dba865f1.png");
}

/* NAV BAR */
/* NAV BAR */
/* NAV BAR */
/* NAV BAR */
div #navbar{
    border: var(--border);
    /* background-color: var(--background); */
    background-image: var(--backgroundImage);
    width: 80%;
    height: 75px;
    padding: 10px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

#navbar h1{
    font-size: 50px;
    color: white;
    padding-top: 0px;
    margin: 10px 0 0 0;
}

div #navbar h4 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 125px;
    margin: 5px 0 0 0;
    float: right;
}

div #navbar h4:hover{
    cursor: pointer;
}

.tabsContainer {
    padding-top: 5px;
    width: 70%;
    margin: auto;
    text-align: center;
}

.tabs {
    display: inline-flex;
    margin: 5px 5px 0 5px;
    padding:  0 50px 0 50px;
    border: 4px rgb(161, 4, 252) solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.61);
    color: rgb(161, 4, 252);
    box-shadow: 0 0 3px black;
}
/* LOG IN */
/* LOG IN */
/* LOG IN */
/* LOG IN */
/* LOG IN */
div .login {
    border: var(--border);
    /* background-color: var(--background); */
    background-image: var(--backgroundImage);
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    padding: 10px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 0 5px black;
}

.login label{
    background-color: rgba(255, 255, 255, 0.637);
}

.login h4{
    color: white;
}
/* SIGNUP */
/* SIGNUP */
/* SIGNUP */
/* SIGNUP */
/* SIGNUP */
div .signup {
    border: var(--border);
    border-radius: 5px;
    /* background-color: var(--background); */
    background-image: var(--backgroundImage);
    width: 90%;
    max-width: 500px;
    padding: 10px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 0 3px black;
}

.signup label{
    background-color: rgba(255, 255, 255, 0.637);
}

.header {
    text-align: center;
}

.messageApp {
    border: var(--borderGreen);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    width: 40%;
    height: 500px;
    margin: 15px 15px 15px 200px;
    box-shadow: 0 0 5px black;
}
.messages {
    height: 70%;
    overflow-y: scroll;
    padding: 0 20px;
    margin: 10% auto 0 auto;
    width: 80%;
}
.user-message {
    border: 1px black solid;
    border-radius: 5px;
    text-align: right;
    margin: 10px 0 10px 250px;
    background-color: rgb(140, 9, 201);
    box-shadow: 3px 4px 2px -2px black;
}

.user-message p{
    margin-right: 5px;
}

.incoming-message {
    border: 1px black solid;
    border-radius: 5px;
    text-align: left;
    margin: 10px 250px 10px 0px;
    background-color: rgb(243, 63, 183);
    box-shadow: 3px 4px 2px -2px black;
}

.incoming-message h5{
    margin: 3px 0 0 3px;
    padding: 0;
}

.messageHeader h1{
    background-image: var(--backgroundImage);
    margin-top: 0;
}

.messageForm {
    height: 10%;
    width: 100%;
}

.messageInput {
    height: 40px;
    width: 80%;
}

.messageButton {
    height: 46px;
    width: 10%;
    padding: 1px 2px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px;
    background-image: var(--backgroundImage);
}

.messageHeader {
    height: 10px;
    width: 100%;
    text-align: center;
    padding: 0px;
}

.userList {
    border: var(--borderGreen);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    width: 20%;
    min-width: 200px;
    height: 500px;
    margin: 15px 0 0 150px;
    box-shadow: 0 0 5px black;
}

.home {
    display: flex;
}

.userContainer {
    overflow-y: scroll;
}

.user {
    margin-left: 1 5px;
    display: flex;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.233);
}

.user img {
    height: 25px;
    width: auto;
    
}

.userList h1{
    background-image: var(--backgroundImage);
    margin-top: 0;
    text-align: center;
}



/* USER PAGE */


.userInfoContainer {
    background-image: var(--backgroundImage);
    border: var(--border);
    border-radius: 5px;
    width: 70%;
    margin: 25px auto;
    box-shadow: 0 0 5px black;
    display: flex;
}

.userInfoContainer img {
    width: auto;
    height: 250px;
    margin: 25px 25px 25px 50px;
    border: 3px white solid;
    border-radius: 100%;
    box-shadow: 0 0 5px black;
}

.user-about-container {
    background-color: white;
    width: 500px;
    margin: 35px 35px 35px 150px;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}



body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: black; */
    /* background-size: 150% 150%;  */
    
}

.game-card {
    width: 250px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 5px black;
}

.game-card h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.295);
    margin-top: 200px;
}
.games {
    background-color:rgba(0, 0, 0, 0.521);
    border: var(--borderGreen);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    width: 65%;
    min-width: 900px;
    box-shadow: 0 0 5px black;
}

.game-container {
    display: grid;
    grid-template: auto auto  / auto auto auto;
    padding-left:auto;
    padding-right: auto;
}



.gamepage-container {
    display: flex;
    background-image: var(--backgroundImage);
    border: var(--border);
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    margin: 100px auto;
    box-shadow: 0 0 5px black;
}

.game-image {
    border: 3px white solid;
    border-radius: 7px;
    margin: 15px;
}

.game-info {
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 5px;
    margin: 35px 15px ;
    padding: 5px 15px;
}

.gamepage-container img{
    width: 250px;
}



/* REVIEW CONTAINER */



.review-container {
    background-image: var(--backgroundImage);
    border: var(--border);
    border-radius: 5px;
    width: 60%;
    padding: 10px;
    margin: 120px auto;
    box-shadow: 0 0 5px black;
}

.reviews {
    width: 75%;
    margin: auto;
}

.review-card {
    border: 3px rgb(0, 255, 0) solid;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
}

.review-card h4{
    margin: 5px 5px;
}

.headers {
    color: white;
    text-align: center;
}

.editForm {
    background-image:var(--backgroundImage);
    border: var(--borderGreen);
    border-radius: 5px;
    width: 500px;
    margin: 50px auto;
}

.editForm h1 {
    color: white;
    margin: 5px 10px;
}

.editForm form{
    margin: 10px 20px;
}



.profile-container {
    background-color:var(--background);
    border: var(--border);
    border-radius: 5px;
}

.profile-container img {
    width: 150px;
}


/* score board */


.score-container {
    margin: auto;
    background-image: var(--backgroundImage);
    border: var(--border);
    width: 600px;
}

.score {
    width: 120px;
    border: 1px black solid
}

.score-title {
    width: 300px;
    border: 1px black solid;
    margin: 0 15px 0 15px;
}




/* ADD GAME FORM */



.addGameForm {
    background-image: var(--backgroundImage);
    border: var(--border);
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    width: 30%;
    margin: 25px auto;
}

.addGameForm form{
    margin: 25px;
}

.addGameForm h1 {
    color: white;
}

#addNewGame {
    margin: 0 0 15px 250px;
}


/* EDIT GAME FORM */

.edit-game-form {
    background-image: var(--backgroundImage);
    border: var(--border);
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    width: 30%;
    margin: 25px auto;
}

.edit-game-form form{
    margin: 10px 25px;
}

.edit-game-form h1 {
    color: white;
    margin: 5px 15px;
}

#edit-save {
    margin: 0 10px 5px 300px;
}

.title-card {
    background-image: var(--backgroundImage);
    border: var(--border);
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    width: 55%;
    margin: 25px auto;
}

.title-card h1 {
    color: white;
    margin: 15px;
}

.title-para {
    color: white;
    margin: 20px;
}

.links {
    display: flex;
    margin: 10px 250px;

}

.links h4 {
    margin: 0px 20px;
}