div #navbar{
    border: 10px rgb(207, 207, 252) solid;
    background-color: rgb(56, 59, 253);
    width: 90%;
    padding: 10px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 3px black;
}

div #navbar h4 {
    background-color: rgb(207, 207, 252);
    width: 125px;
    margin: auto;
    float: right;
}

div #navbar h4:hover{
    cursor: pointer;
}

div .login {
    border: 10px rgb(207, 207, 252) solid;
    background-color: rgb(56, 59, 253);
    width: 90%;
    max-width: 500px;
    padding: 10px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 0 3px black;
}

.login label{
    background-color: rgba(255, 255, 255, 0.637);
}

div .signup {
    border: 10px rgb(207, 207, 252) solid;
    background-color: rgb(56, 59, 253);
    width: 90%;
    max-width: 500px;
    padding: 10px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 0 3px black;
}

.signup label{
    background-color: rgba(255, 255, 255, 0.637);
}

.messageApp {
    border: 10px rgb(207, 207, 252) solid;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    width: 50%;
    height: 500px;
    margin: 15px;
}
.messages {
    height: 70%;
    overflow-y: scroll;
    padding: 0 20px;
    margin: 10% auto 0 auto;
    width: 80%;
}

.messageForm {
    height: 10%;
    width: 100%;
}

.messageInput {
    height: 40px;
    width: 80%;
}

.messageButton {
    height: 46px;
    width: 10%;
    border: 2px solid green;
    padding: 1px 2px;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px;
}

.messageHeader {
    height: 10px;
    width: 100px;
    text-align: center;
    padding: 10px;
}

.userList {
    border: 10px rgb(207, 207, 252) solid;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    width: 30%;
    height: 500px;
    margin: 15px;
    
}

.home {
    display: flex;
}

.userContainer {
    overflow-y: scroll;
}

.user {
    margin-left: 1 5px;
    display: flex;
}

.user img {
    height: 25px;
    width: auto;
}

.tabsContainer {
    padding-top: 5px;
    width: 50%;
    margin: auto;
    text-align: center;
}

.tabs {
    display: inline;
    padding:  0 50px 0 50px;
    border: 4px black solid;
    background-color: rgba(56, 59, 253, 0.507);
    color: white;
}

.userInfoContainer img {
    width: auto;
    height: 250px;
    
}

.websiteContainer {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.game-card {
    width: 250px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px black solid;
    margin: 10px;
    text-align: center;
}

.game-card h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.295);
    margin-top: 200px;
    
}

.game-container {
    display: flex;
}